footer {
    background: #084177;
    padding: 20px;
}

.top-bar {
    background: #084177;
}

.menu-bar {
    background: #084177;
}

.dropdown-item {
    font-weight: bold;
}

.ava-img
{
    width: 100%; height: 100%; 
    max-width: 160px;
    max-height: 160px;
    object-fit:cover; margin:0;
}

